
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
 .container{
    width: 80%;
    max-width: 1350px;
    margin:  auto;
     color: #FFF; 
 text-align: center;  

}

.Banner{
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url(resources/Banner-Image.png);
   
   height: 600px;
   width: 1320px;
   border-radius: 16px;
  
   background-size: cover; 
   padding-bottom: 100px;
   background-position: center;
   padding-bottom: 10%;
}



.text h6{

    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
 line-height: normal; 
padding-top: 15%;
padding-right: 5%;



}
.text h2{
 width: 632px;
 color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
padding-right: 5%;

}
.offer{
    
        width: 100%;
       background-color: #FFF;
}

 .Dark{
    margin: auto;
    align-items: center;
    padding:200px 0px;
   
}


   

.Dark h2
{
     color: #ff0000da;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;

    padding-top: 10px;

}

.Dark p{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;

padding-top: 30px;

}

.Dark h3{
    color: #070211;

    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
    font-family: Inter;
}

.img{
    display: flex;
    justify-content: center;
    margin:auto;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.hello{
  
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    height: 650px;
     width: 1350px;
  background-size: cover; 
  border-radius: 20PX;
 margin-bottom: 10%;   
}

.page{
    margin-bottom: 30%;
    padding-top: 100px;
    padding-left: 50px;
}

.page h2{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding-left: 40px;
}

.page p{
    color: rgba(255, 255, 255, 0.80);
/* font-family: Inter; */
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
margin-right: 100px;
padding-left: 50px;
padding-bottom: 70px;
}
.button{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-left: 50px;
padding-bottom: 60px;
margin-right: 100px;

}
.hello{
    display: flex;
   align-items: center;
   width: 1350px;
}
.party{
    padding-right: 7%;
    
}

.sec{
    padding: 200px;
    margin: auto;
     width: 1320px;
     height: 482px;
    flex-shrink: 0;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%),url(resources/1920x1080-white-solid-color-background.jpg);
    border-radius: 20PX;
    /* margin-bottom: 10%;  */
}

.sec-content{
    display: block;
    justify-content: center;
    align-items: center;
   padding: 50px ;
   
}
.sec h3{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #000000;
    color: #070211;

}
.sec span{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: #FF0000;
    text-transform: capitalize;
}

.sec  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #F00;
    color: #FFF; 
    
    margin: 10px auto;

    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}


.NewOffer{
    display: flex;
width: 1900px;
background-color: #FFF;
align-items: center;
padding: 200px;
margin-top: 0px;

}

.collect h6{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.collect h1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
text-align: left;
}

.collect p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
text-align: left;
width: 420px;


}
.eimg{
width: 364.844px;
height: 364.844px;

border-radius: 50%;
margin: auto;
padding : 15px;
border: 10px solid #FF0000;
margin-bottom: 40%;


}

.myoffer h2{

color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 20%;
}

.myoffer p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 400px;
padding-left: 20%;
}
.pic{
    width: 140px;
height: 140px;
flex-shrink: 0;
margin: 100px;
margin-top: 20px;
}

.Function{
   padding-bottom: 200px;
    text-align: center;
    
}

.function-1 h3{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.function-2 {
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-top: 20px;
}

.function-1 h2{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
    
} 

.function-1 p{
    width: 950px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */

}

/**card-section start**/
.card-section{
    padding: 200px;
  
}
.card h6{
   
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 50px;
   
}
.card h1{

    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
padding-left: 50px;
padding-top: 15px;
}

.card p{
    
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
padding-left: 50px;
padding-top: 10px;
}

.imgsec{
  
    width:1600px;
}

.card-box{
    display: flex;
   
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.box img{
    width: 524px;
    height: 450px;
    margin-bottom: 20px;
}

/**section mail-section start code**/
.mail-part{
    width: 1420px;
    height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-bottom: 20px;


}
.mail{
    display: block;
    align-items: center;
    justify-content: center;

    padding-top: 5%;
    margin-bottom: 10%;
}
.mail-photo{
    display:flex;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto;
   padding-top: 3%;
   
}
.mail h3{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 1000;
line-height: normal;
text-transform: capitalize;
/* margin-top: 5%; */
}
.mail p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-right: 25%;

}
.mail input[type="email"] {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 24px 28px;
    width: 400px;
    background-color: #FFF;
    border: 0;
    font-family: Inter;
    font-size: 16px;
}

.mail-part .mail {
    text-align: center;
    width: 50%;
}

.mail input[type="email"]:hover {
    outline: 2px solid #FD6E0A;
    border: 0px;
}


.mail input[type="submit"] {
    position: relative;
    left: -5px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 46.75px 46.75px 0px;
    background-color: #FD6E0A;
    border: 0;
    padding: 24px 28px;
   
}



/* footer section styles */
footer {
    background-color: black;
    padding: 130px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-info {
    display: flex;
    gap: 500px;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-info p {
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
  }
  
  .footer-contacts {
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
  }
  
  footer hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 45px 0;
  }
  
  .social-links {
    margin: 0 auto;
  }
  
  .social-links img {
    width: 60px;
    margin-left: 22px;
  }
  
  
  